.bg-footer {
  background-color: #f2f2f2;
  color: #a2a2a2;
}

.bg__title {
  color: #333333 !important;
  font-weight: bold;
  margin: 0 0 20px;
}

.active {
  font-size: 16px;
  color: #198754 !important;
}

.image-upload > input {
  display: none;
}

.blog-title {
  font-size: 30px;
}

.comment {
  float: right;
}

.card-title-info {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.card-icon-rounded {
  font-size: 32px;
  line-height: 0;
  color: #4154f1;
  background: #f6f6fe;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.road-icon {
  display: inline-block;
  fill: currentcolor;
  margin: 5px;
  max-width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: bottom;
  height: 1rem;
  width: auto;
}

.profile-dashboard {
  position: relative;
  transition: all 0.3s;
  background-color: #fff;
}

.dash-icon {
  font-size: 20px !important;
  color: green !important;
}

.big-icon {
  font-size: 50px !important;
  color: green !important;
}

.profile-dashboard-nav-active {
  background-color: green !important;
  color: #fff !important;
}
.profile-dashboard-nav-active .dash-icon {
  color: #fff !important;
}

.page-header {
  background: url(/storage/about/about.jpg) no-repeat;
  position: relative;
  background-size: cover;
}

.page-caption {
  padding-top: 170px;
  padding-bottom: 174px;
}

.page-title {
  font-size: 46px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.card-section {
  position: relative;
  bottom: 60px;
}

.card-block {
  padding: 80px;
}

.section-title {
  margin-bottom: 60px;
}

.border-error-danger {
  border: red solid 2px !important;
}

.nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.page-header {
  min-height: 60rem;
}

.pub img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.pub h4 a {
  color: #012970;
  transition: 0.3s;
}

.pub {
  margin-top: 15px;
}

.pub p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

.pub h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card {
  border: none;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
}

.ratings i {
  color: green;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

.h5, h5 {
  font-size: 1.25rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

*, ::after, ::before {
  box-sizing: border-box;
}

feuille de style user-agent h5 {
  display: block;
  font-size: 0.83em;
  -webkit-margin-before: 1.67em;
          margin-block-start: 1.67em;
  -webkit-margin-after: 1.67em;
          margin-block-end: 1.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.block {
  position: absolute;
  right: 15%;
  bottom: 10rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.home-icon {
  font-size: 25px;
  color: green !important;
}

@media (max-width: 575.98px) {
  .nav-list-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start !important;
  }
}
