.bg-footer {
  background-color: #f2f2f2;
  color: #a2a2a2;
}

.bg__title {
  color: #333333 !important;
  font-weight: bold;
  margin: 0 0 20px;
}

.active {
  font-size: 16px;
  color: #198754 !important;
}

.image-upload>input {
  display: none;
}

.blog-title {
  font-size: 30px;
}

.comment{
  float: right;
}

.card-title-info {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.card-icon-rounded {
  font-size: 32px;
  line-height: 0;
  color: #4154f1;
  background: #f6f6fe;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.road-icon {
  display: inline-block;
  fill: currentcolor;
  margin: 5px;
  max-width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: bottom;
  height: 1rem;
  width: auto;
}

.profile-dashboard {
  position: relative;
  transition: all 0.3s;
   background-color: #fff;
}

.dash-icon {
  font-size: 20px !important;
  color: green !important;
}

.profile-dashboard-nav-active {
  background-color: green !important;
  color: #fff !important;

  & .dash-icon {
    color: #fff !important;
  }
}