@import "custom";
@import "header";

.border-error-danger {
    border: red solid 2px !important;
}

.nav-link {
    color: rgba(0,0,0,.9);
}

.page-header {
    min-height: 45rem;
}

.pub img {
    width: 80px;
    float: left;
    border-radius: 5px;
}

.pub h4 a {
    color: #012970;
    transition: 0.3s;
}

.pub {
    margin-top: 15px;
}

.pub p {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

.pub h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}


.card {
    border: none
}

.user-content p {
    margin-top: 5px;
    font-size: 12px
}

.ratings i {
    color: green
}


element.style {
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
*, ::after, ::before {
    box-sizing: border-box;
}
feuille de style user-agent
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.block {
    position: absolute;
    right: 15%;
    bottom: 10rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.block .block-title {

}

.home-icon {
    font-size: 25px;color: green !important;
}



@media (max-width: 575.98px) {
    .nav-list-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start !important;
    }
}
